{% extends "layout.html" %}

{% block body %}

<div class="container main_container">

	<h1>Login as a User</h1>
    {% if errors %}
	<h4 style="color: red" >Invalid user data. Please fix these errors.</h4>
	<div class="col s12 ">
		<ul>
		    {% for error in errors %}

		    <li><b>&raquo; {{ error }}</b></li>

		    {% endfor %}
		</ul>
	</div>
	{% endif %}
	{{ posted.email }}
	<form action="" method="post">
		<input type="text" name="email" placeholder="email" /><br />
		<input type="password" name="password" placeholder="password" /><br />
		<button type="submit" class="waves-effect waves-light btn">Log in</button>
	</form>

</div>

{% endblock %}